.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-image: url(../images/coverPic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  min-height: 5vh;
  align-items: center;
}

.Menu-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Mission-statement {
  font-size: 50px;
  font-weight: 600;
  color: white;
}
