.programmes {
  font-size: 40px;
  font-weight: 600;
}

.panel-container-programmes {
  display: block;
  justify-content: space-evenly;
}

.top-panel {
  height: auto;
  width: 100vw;
  background: #a69f98;
}

.bottom-panel {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background: #a69f98;
}

.street-team-img {
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 6vw;
  background-image: url(../images/streetteam.jpg);
}

.one2one-img {
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 6vw;
  background-image: url(../images/one2one.jpg);
}
.youth-center-img {
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 6vw;
  background-image: url(../images/youthcenter.jpg);
}
